name: build and deploy
on:
  push:
    branches:
      - main
      - gh-actions
jobs:
  build-and-deploy:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        fetch-depth: 0
        path: ./wiki
    - name: Clone wikigen
      uses: actions/checkout@v2
      with:
        repository: jakeisnt/wikigen
        ref: refs/head/main
        path: ./wikigen
    - name: Install nix
      uses: cachix/install-nix-action@v12
      with:
        install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-3.0pre20200820_4d77513/install
        extra_nix_config: |
          experimental-features = nix-command flakes
    - name: Install wikigen
      run: cd ./wikigen && nix build && cd .. 
    - name: Run wikigen
      run: && ./result/bin/wikigen ./wiki && cp wiki/public .
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action
      with:
        branch: gh-pages
        folder: public
